<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FLYAWAYSwaraj</display-name>
  <welcome-file-list>
    <welcome-file>welcome-page.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>flightbook</display-name>
    <servlet-name>flightbook</servlet-name>
    <servlet-class>com.destination.flightbook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>flightbook</servlet-name>
    <url-pattern>/flightbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>orderSummary</display-name>
    <servlet-name>orderSummary</servlet-name>
    <servlet-class>com.manageflights.orderSummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderSummary</servlet-name>
    <url-pattern>/orderSummary</url-pattern>
  </servlet-mapping>
</web-app>